@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px)
and (orientation: portrait) {    
    #wrapper {
        width: 90%;
    }

    h1 {
        font-size: 3rem;
    }

    section > p, address {
        font-size: 1.75rem;
        padding: .5rem;
        text-align: center;
    }

    
}
