@media screen and (max-width: 480px) {    
    h1 {
        font-size: 3rem;
    }

    section > p, address {
        font-size: 1.75rem;
        padding: .5rem;
        text-align: center;
    }

    #wrapper {
        width: 90%;
    }
}
